* {
    padding: 0;
    margin: 0;
}

header {
    color: white;
    background: #161616;
    padding: 10px;
    width: 100%;
}

textarea {
    padding: 10px;
}

.container {
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    row-gap: 10px;
    padding: 5px;
}

.areaDeTexto {
    display: grid;
    grid-template-rows: auto;
    row-gap: 10px;
}

.novos-posts {
    display: grid;
    grid-template-rows: auto;
    row-gap: 10px;
    width: 40%;
}

#meus-posts {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 5px;
    background-color: wheat;
}

#meus-posts section {
    margin-bottom: 32px;
}

#meus-posts section p {
    text-align: justify;
}