* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
}

.topo {
    background-color: #d5222c;
    width: 100%;
    height: 100px;
}

.caixas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
    width: 100%;
}

.caixas>div {
    margin: 5px 0;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-1 {
    width: 32%;
    height: 100px;
    background-color: #1e22f8;
}

.item-2 {
    width: 32%;
    height: 100px;
    background-color: #d5ed2e;
}

.item-3 {
    width: 32%;
    height: 100px;
    background-color: #0b7f2e;
}

.item-4 {
    width: 32%;
    height: 100px;
    background-color: #1e22f8;
}

.item-5 {
    width: 32%;
    height: 100px;
    background-color: #d5ed2e;
}

.item-6 {
    width: 32%;
    height: 100px;
    background-color: #0b7f2e;
}

.item-7 {
    width: 49%;
    height: 400px;
    background-color: black;
    color: white;
}

.item-8 {
    width: 49%;
    height: 400px;
    background-color: black;
    color: white;
}

.item-9 {
    width: 32%;
    height: 100px;
    background-color: white;
}

.item-10 {
    width: 32%;
    height: 100px;
    background-color: white;
}

.item-11 {
    width: 32%;
    height: 100px;
    background-color: white;
}

@media screen and (min-width: 500px) and (max-width: 1000px) {
    .item-1 {
        width: 49%;
    }
    .item-2 {
        width: 49%;
    }
    .item-3 {
        width: 100%;
    }
    .item-4 {
        width: 49%;
    }
    .item-5 {
        width: 49%;
    }
    .item-6 {
        width: 100%;
    }
    .item-7 {
        width: 49%;
    }
    .item-8 {
        width: 49%;
    }
    .item-9 {
        width: 49%;
    }
    .item-10 {
        width: 49%;
    }
    .item-11 {
        width: 100%;
    }
}

@media screen and (min-width: 0px) and (max-width: 600px) {
    .caixas>div {
        width: 100%;
        height: 100px;
    }
}