* {
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 30px;
    background-color: gainsboro;
    padding: 4px;
}

.container {
    display: flex;
    flex-direction: row;
}

.uma-despesa {
    margin: 10px 0;
}

label {
    margin-top: 4px;
}

button {
    margin: 5px;
}

p {
    background-color: ghostwhite;
}