* {
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 30px;
}

.container {
    display: flex;
    flex-direction: row;
}

.uma-despesa {
    margin: 10px 0;
}